body{
    background-color: black;
}
.header {
    text-align: center;
    color: yellow;
    font-size: 100px;
  }
table, th, td {
  border: 5px solid;
  font-size: 53px;
  color: white;
  list-style-type: decimal;
  text-align: center;
  width: 1000px;
}
a:link, a:visited, a:hover, a:active{
    color: inherit;
    text-decoration: none;
}
.margin{
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
}