{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history" method="post">
        <div class="container-fluid p-2">
            <table id="table" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">Symbol</th>
                  <th scope="col">Shares</th>
                  <th scope="col">Price</th>
                  <th scope="col">Transacted</th>
                </tr>
              </thead>
              <tbody>
                  {% for row in rows %}
                <tr>
                  <td>{{row["symbol"]}}</td>
                  <td>{{row["shares"]}}</td>
                  <td>{{row["price"]}}</td>
                  <td>{{row["date"]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </form>
{% endblock %}