{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post" id="form">
        <div class="form-group">
            <input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword" placeholder="Current Password" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="NewPassword" id="NewPassword" placeholder="New Password " required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm New Password" required>
        </div>
        <button class="btn btn-primary" id="Confirm" type="submit">Confirm</button>
    </form>
{% endblock %}
